.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
__pycache__/
node_modules/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

notes.txt
package-lock.json
package.json